<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Hi I 'm Lucifer</h1>
    <p>
      <a href="https://www.facebook.com/luci196">My Facebook</a>
    </p>
  </body>
</html>
